body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header, nav, footer{
    width: 100%;
}

header, nav, main, aside, footer{
    flex-grow:1;
    padding: 1rem;
}

nav ul{
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(144, 214, 191);
    width: 70%;
    min-width: 500px;
    justify-content: space-between;
}

#grid-container{
    display: grid;
    grid-template-areas: "header header header"
                            "navigering navigering navigering"
                            "main main aside"
                            "footer footer footer";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto auto auto auto;
}

header{
    background-color: rgb(130, 140, 19);
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

}

nav{
    background-color: rgb(10, 10, 10);
    grid-area: navigering;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 350px;
    min-width: 200px;
    width: 100%;
    box-shadow: 13px 9px 20px 0px #efefefef;
    border-radius: 4px;
    padding: 1rem;
}

main{
    background-color: rgb(169,69,111);
    grid-area: main;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    display:flex;
    flex-wrap: wrap;
    width: 70%;
    min-width: 500px;
    justify-content: space-between;

}

aside{
    background-color: rgb(21,131,31);
    grid-area: aside;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    width: 30%;
}

footer{
    background-color: rgb(77,77,77);
    color: #fff;
    grid-area: footer;
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:4;
    grid-row-end:5;
}